body,
hr {
    margin: 0;
    padding: 0;
}

%centralizeH {
    display: flex;
    justify-content: center;
}

%centralizeV {
    display: flex;
    align-items: center;
}

%centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

%clearfix {
    &:after {
        content: ' ';
        display: block;
        clear: both;
    }
}

.animationHidden {
    opacity: 0;
}

.animationVisible {
    opacity: 1;
}

@font-face {
    // src: url("../fonts/fontName.ttf");
    font-family: fontName;
}
$fontVariable: fontName, sans-serif;
